<ion-header>
  <ion-toolbar>
    <ion-title>Mojix Music App</ion-title>
    <div slot="end">
      <ion-label>Music/Movie</ion-label>
      <ion-toggle></ion-toggle>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="fireSearch()"
    debounce="500"
  ></ion-searchbar>
  <ion-list>
 <app-song  *ngFor="let item of songsList"[currentSong]="item"></app-song>
  </ion-list>
</ion-content>
<!-- <ion-footer>
  <app-song></app-song>
</ion-footer>
 -->
